 body{
  font-family: 'Poppins', sans-serif;
 }
.card-hov{
  transition: 0.7s ;
}
.card-hov:hover{
  background-color: rgb(155, 126, 0);
 transform: scale(1.1);
  border-radius: 30px;
  color: white;
    
}
.ankor{
  color: black;
  background-color: wheat;
  text-decoration: none;
  padding:10px 50px ;
  border-radius: 10px;
}
.c-color{
  color: rgb(6, 0, 56);
}
#absolute{
  position: absolute;
  top: 0;
  right: 0;
  
}
.text-none{
  text-decoration: none;
  color: black;
}